<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table th:border="1">
    <tr>
        <th>brand</th>
        <th>year</th>
        <th>score</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.name}">name</td>
        <td th:text="${car.year}">year</td>
        <td th:text="${car.score}">score</td>
    </tr>

</table>

</body>

</html>